@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom CSS */
.dotted-background {
    background-position: 0 0, 14px 14px;
    background-size: 16px 16px;
    width: 100%;

    background-image: radial-gradient(#181818 5%, #0000001f 15%);
    background-color: #000;
    position: absolute !important;
}

/* Login sign up */
.login-signup-form-wrapper {
    background: linear-gradient(
        153deg,
        rgb(139 92 246) -10.2%,
        rgb(15, 15, 37) 8.21%
    );
    /* Box Shadow */
    box-shadow: 0px 15px 40px 0px rgba(30, 33, 45, 0.05);
    z-index: 5;
}

.login-signup-form-wrapper::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 24px;
    padding: 3px;
    background: linear-gradient(
        134deg,
        rgba(139, 92, 246, 0.6) 0%,
        rgba(62, 32, 133, 0.55) 22%
    );
    -webkit-mask: linear-gradient(
                106deg,
                rgba(15, 15, 37, 1) 1%,
                rgba(15, 15, 37, 1) 100%
            )
            content-box,
        linear-gradient(
            106deg,
            rgba(15, 15, 37, 1) 1%,
            rgba(15, 15, 37, 1) 100%
        );
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    z-index: -1;
}
